<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery.js"></script>
    <script src="../../public/app.js"></script>
	<title>Burgerlicious Devour Menu</title>
</head>

<body>

	{{{ body }}}

	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text text-lighten-4">©Copyright</span>
				<a class="grey-text text-lighten-4 right" href="https://github.com/jamo1998/burger">Github Profile</a>
			</div>
		</div>
	</footer>
</body>
</html>